* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #F5F0EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
header .logo-container {
  display: none;
}
header ul li {
  margin-bottom: 0.5rem;
}
@media (min-width: 350px) {
  header .logo-container {
    display: block;
    width: 20%;
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px;
    text-align: left;
    padding: 1rem;
  }
  header .logo-container {
    display: none;
  }
  header ul {
    display: flex;
    gap: 1rem;
    justify-content: end;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: grid;
    grid-template-rows: 100px;
    padding: 1rem;
    font-size: 1rem;
  }
  header .logo-container {
    display: none;
  }
  header ul {
    display: flex;
    gap: 1rem;
    justify-content: end;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.social-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}
.social-links a img {
  width: 50px;
  height: auto;
}
.social-links a span {
  margin-top: 5px;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .social-links a {
    margin: 0 15px;
  }
  .social-links a img {
    width: 40px;
  }
  .social-links a span {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .social-links a {
    margin: 0 20px;
  }
  .social-links a img {
    width: 50px;
  }
  .social-links a span {
    font-size: 1rem;
  }
}
footer {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
footer p {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

.contenido {
  text-align: center;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .contenido {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .contenido {
    font-size: 1.5rem;
  }
}

.primer-texto {
  padding: 1rem;
}

.parrafo1 h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.parrafo1 p {
  text-align: center;
  margin-bottom: 1rem;
}

.cotizar {
  display: flex;
  align-items: center;
  background-color: #B07C6B;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-inline: 35%;
}

@media (min-width: 768px) {
  .primer-texto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
  }
  .imagencel {
    width: 40%;
    margin-left: 30%;
  }
  .cotizar {
    background-color: #B07C6B;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-inline: 43%;
  }
}
@media only screen and (min-width: 1200px) {
  .primer-texto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
  }
  .imagencel {
    width: 40%;
    margin-left: 30%;
  }
  .cotizar {
    background-color: #B07C6B;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
  }
}
.beneficios {
  background-color: #43291F;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}
.beneficios .beneficio1,
.beneficios .beneficio2,
.beneficios .beneficio3 {
  background-color: #F5F0EC;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  text-align: center;
  margin-bottom: 20px;
}
.beneficios .beneficio1:hover,
.beneficios .beneficio2:hover,
.beneficios .beneficio3:hover {
  transform: translateY(-5px);
}
.beneficios .beneficio1.fade-up,
.beneficios .beneficio2.fade-up,
.beneficios .beneficio3.fade-up {
  animation: fadeUp 0.5s forwards;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.beneficios .beneficio1 img,
.beneficios .beneficio2 img,
.beneficios .beneficio3 img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}
.beneficios .beneficio1 h3,
.beneficios .beneficio2 h3,
.beneficios .beneficio3 h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.beneficios .beneficio1 p,
.beneficios .beneficio2 p,
.beneficios .beneficio3 p {
  margin: 0;
  font-size: 0.8em;
}

.imagen1,
.imagen2,
.imagen3 {
  width: 50px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .beneficios {
    display: flex;
    flex-direction: row;
  }
  .beneficio1,
  .beneficio2,
  .beneficio3 {
    width: 30%;
    margin-right: 20px;
  }
  .beneficio3 {
    margin-right: 0;
  }
  .formulario {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .beneficios {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .beneficio1,
  .beneficio2,
  .beneficio3 {
    width: 25%;
    margin-right: 30px;
  }
}
.imagen {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .imagen {
    flex-direction: row;
    align-items: center;
  }
}
.imagen div {
  flex: 0 0 45%;
  max-width: 400px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.imagen img {
  max-width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.imagen .contenido {
  flex: 0 0 45%;
  max-width: 400px;
  text-align: center;
  opacity: 0;
  animation: fadeUp 1s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.imagen h2 {
  font-size: 24px;
  margin-bottom: 20px;
  transition: color 0.3s;
}
.imagen p {
  margin: 0;
  font-size: 16px;
  transition: color 0.3s;
}
.imagen:hover h2, .imagen:hover p {
  color: #B07C6B;
}

.servicios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
  background-color: #B07C6B;
}

.servicio {
  text-align: center;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}
.servicio:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.servicio img {
  max-width: 100%;
  height: auto;
}
.servicio h3 {
  margin-top: 20px;
  font-size: 24px;
  transition: color 0.3s;
}
.servicio h3:last-child {
  margin-bottom: 20px;
}
.servicio ul {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}
.servicio li {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: disc;
}
.servicio button.comprar {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #B07C6B;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.servicio button.comprar:hover {
  background-color: #ccc;
}

@media screen and (min-width: 1200px) {
  .servicios {
    display: flex;
    justify-content: space-around;
  }
  .servicio {
    flex: 0 0 45%;
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .imagen {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contenido {
    align-self: center;
    font-size: 1.5rem;
  }
}
.contacto1 {
  background-image: url("../img/contacto-img.jpg");
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.contacto1 .container-contacto {
  margin-bottom: 20px;
  animation: fadeInLeft 1s ease-out;
}
.contacto1 .container-contacto2 {
  margin-bottom: 40px;
  animation: fadeInRight 1s ease-out;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.icono {
  margin-top: 30px;
  margin-left: 35%;
  margin-bottom: 0px;
  padding: 15px;
  width: 100px;
  justify-content: center;
  background-color: #C7B99B;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) {
  .icono {
    margin-left: 42%;
    margin-bottom: 0px;
    padding: 15px;
    width: 100px;
  }
}
@media (min-width: 1200px) {
  .icono {
    margin-left: 45%;
    margin-bottom: 0px;
    padding: 15px;
    width: 100px;
  }
}
h4 {
  margin-inline: 37%;
}

p {
  text-align: center;
}

h5 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #F5F0EC;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
form h4 {
  text-align: center;
  margin-bottom: 20px;
}
form label {
  display: block;
  margin-bottom: 5px;
}
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  /* Incluye el padding y border en el ancho */
}
form button {
  width: 100%;
  padding: 10px 20px;
  background-color: #B07C6B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
form button:hover {
  background-color: #7E5241;
}

.faq-section {
  background-image: url("../img/faq-img.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.faq-section .faq-container {
  animation: fadeIn 1s ease-in-out;
}
.faq-section h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.faq-list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq-list .faq-item {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}
.faq-list .faq-item .question {
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}
.faq-list .faq-item .answer {
  display: none;
  margin-top: 5px;
}
.faq-list .faq-item .faq-toggle {
  display: none;
}
.faq-list .faq-item:hover {
  background-color: #ebebeb;
}
.faq-list .faq-item:hover .question {
  color: blue;
}
.faq-list .faq-item .faq-toggle:checked ~ .question {
  color: blue;
}
.faq-list .faq-item .faq-toggle:checked ~ .answer {
  display: block;
}
.faq-list .faq-item .faq-toggle:checked ~ .faq-toggle:checked ~ .answer {
  display: none;
}

.nosotros-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}
.nosotros-section .nosotros-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.nosotros-section .nosotros-container .nosotros-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .nosotros-section .nosotros-container .nosotros-content {
    flex-direction: row;
    align-items: center;
  }
}
.nosotros-section .nosotros-container .nosotros-content .nosotros-text {
  text-align: center;
  opacity: 0;
  animation: fadeUp 1s forwards;
}
@media (min-width: 768px) {
  .nosotros-section .nosotros-container .nosotros-content .nosotros-text {
    flex: 1;
    text-align: left;
  }
}
.nosotros-section .nosotros-container .nosotros-content .nosotros-text h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.nosotros-section .nosotros-container .nosotros-content .nosotros-text p {
  margin-bottom: 10px;
}
.nosotros-section .nosotros-container .nosotros-content .nosotros-image {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.nosotros-section .nosotros-container .nosotros-content .nosotros-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .nosotros-section .nosotros-container .nosotros-content .nosotros-image {
    flex: 1;
    text-align: right;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=styles.css.map */
