$color-fondo: white;
$imagen-fondo: url('/img/contacto-img.jpg');

main {
    .contacto1 {
        background-color: $color-fondo;
        padding: 20px;
        margin: 20px;
        text-align: center;
        background-image: $imagen-fondo;
        background-size: cover;
        background-position: center;

        .container-contacto {
            text-align: center;

            h2 {
                font-size: 2em;
                margin-bottom: 10px;
                animation: fadeIn 1s ease-in-out;
            }
        }
    }

    .contacto2 {
        background-color: $color-fondo;
        padding: 20px;

        .container {
            display: flex;
            justify-content: space-between;

            .contacto {
                text-align: center;
                flex: 1;

                img {
                    width: 50px;
                }

                h3 {
                    font-size: 1em;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 0.8em;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .contacto1 {
            padding: 50px;
            margin: 50px;
        }
    }
}
